<nav>
	<%= link_to 'home' ,root_path %>
  <% if session[:user_id] %>
    <%= link_to 'logout', '/logout' %>
  <% else %>
    <%= link_to 'register' ,new_user_path %>
    <%= link_to 'login' ,'/login' %>
  <% end  %>
</nav>
